* {
    box-sizing: border-box;
  }
  
body{
    width:100vw;
}
#top{
    background-color: rgb(0,49,83);
    padding-bottom:3vw;
}

#navBar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#navBar span {
    display:none;
}
#navBar input{
    color:cornflowerblue;
    border:none;
    background-color:inherit;
    cursor: pointer;
    justify-content:space-around;
    padding: 2vw;
    cursor: pointer;
}

#navBar input:hover{
    background-color:cyan;
}

#imageText{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

#imageText span:first-child{
    color:white;
    margin:1vw;
    font-size: 10vw;
}

#imageText span:nth-child(2){
    color:turquoise;
    max-width: 80vw;
    margin:1vw;
}
#imageText img{
    display:none;
}

.readMoreText{
    display:flex; 
    flex-direction: column;
    align-items: center;
    text-align:left;
    border-top: 1px solid thistle;
    margin:1vw;
    justify-content:space-between;
}

.readMoreText span{
    max-width:80vw;
    margin:2vw;
    color:darkgray;
}

.readMoreText span:first-child{
    color:black;
    font-weight: bold;
    font-size:large;
}
.readMoreText input{
    align-self: flex-start;
    border-radius: 40px;
    border-color: gray;
    background-color:beige;
    position:relative;
    left:10vw;
    cursor: pointer;
}

.readMoreImg{
    display:flex; 
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    text-align:left;
    border-top: 1px solid thistle;
    margin:1vw;
}

.readMoreImg span{
    max-width:80vw;
    margin:2vw;
    color:darkgray;
}
.readMoreImg :nth-child(2){
    color:black;
    font-weight: bold;
    font-size:large;
}
.readMoreImg input{
    align-self: flex-start;
    border-radius: 40px;
    border-color: gray;
    background-color:beige;
    position:relative;
    left:10vw;
    cursor: pointer;
}

.readMoreImg img{
    width:80vw;
    margin:2vw;
}

#middleFooter{
    display:none;
}

#footer{
    background-color: rgb(0,49,83);
    text-align:center;
    color:white;
    padding-bottom:1vw;
}

#footer div:first-child{
    display:flex; 
    justify-content:space-evenly;
    flex-wrap: wrap;
}

#footer input{
    color:cornflowerblue;
    border:none;
    background-color:inherit;
    cursor: pointer;
    justify-content:space-around;
    padding: 2vw;
    cursor: pointer;
}
#footer input:hover{
    background-color:cyan;
}
@media (min-width: 768px){
    #middle{
        display:grid;
        grid-template-areas: "rmt1 rmt2"
                            "rmt3 rmi1"
                            "rmi2  rmi3"
        ;
    }

    .readMoreImg img {
        width:40vw;
    }
}

@media (min-width:1024px){
    #middle{
        display:grid;
        grid-template-areas: "rmt1 rmt2 rmt3"
                            "rmi1 rmi2 rmi3"
                            
        ;
    }

    .readMoreImg img {
        width:25vw;
    }

    #imageText{
        display:grid;
        grid-template-areas: "span1 imagen"
                            "span2 imagen"
        ;
        text-align:left;
        padding-left:10vw;
        padding-right:10vw;
    }


    #imageText span:first-child{
        font-size:5vw;
    }
    #imageText img{
        display:block;
        width:40vw;
        grid-area: imagen;
    }
}

