@use "sass:list";
@use "sass:math";
@use "sass:color";

$theme:false;
$prussianBlue: #003153;
$name-background-color:mediumpurple;
$font-color:white;
$header-font-color: aqua;
$container-width:75vw;
$lista-colores:green,red,purple,#33FCFF,yellow,grey, orange;
$size:5;
$n:6;
@while $n > 0 {
    h#{$n} {
       font-size: #{$size}px;
       $size:$size+5;
       $n: $n - 1;
    }
}

@function CalcularAnchura($anchoDisponible) {
    @if $anchoDisponible <= 1024{
        @return 50%;
    }
}

@for $i from 1 through 6 {
    h#{$i} {
        display:inline-block;
        color:nth($lista-colores , $i );
    }
}
body{
    display:flex;
    justify-content:center;
}
.container{
    text-align: center;
    @if $theme == true {
        background-color: $prussianBlue;
        color:$font-color;
    }
    @else {
        background-color: invert($prussianBlue);
        color:invert($font-color);
    }
    width:$container-width;
    .header{
        color:$header-font-color;
        .full-name{
            background-color: $prussianBlue;
            .first-name{
                font-size: 20px;
                color: $font-color;
                background-color: $name-background-color;
            }
        }
    }
}

table { 
    @for $i from 1 through 7 {
        tr:nth-child(#{$i}) {
            background-color: nth($lista-colores,$i);
        }
    }
}

@media (min-width: 1024px) {
   
   .section__list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
        .text{
            width: CalcularAnchura(1024);
        }
   }
  

}