$theme:true;
$prussianBlue: #003153;
$name-background-color:mediumpurple;
$font-color:white;
$header-font-color: aqua;
$container-width:75vw;
$lista-colores:green,red,purple,#33FCFF,yellow,grey, orange;
$size:5;
$n:6; 
